

<div class="inner cover">
  <h1 class="cover-heading">Movie Manager</h1>
  <%= link_to 'See a Movie Collection', {:controller => :movies, :action => :index}, { :class => "btn btn-lg btn-default" } %>
</div>
    

